<div>
  <p style="font-weight: bold; text-decoration: underline"> Attribute directive using ngStyle :</p>
  <p [ngStyle]="{backgroundColor:getColorAttributeDirective1()}">{{ 'Server' }} Id = {{ attributeDirectiveNumber1 }}, server status = {{ attributeDirectiveStatus1 }}, getServerStatus = {{ getColorAttributeDirective1() }}</p>
  <p [ngStyle]="{backgroundColor:getColorAttributeDirective2()}">{{ 'Server' }} Id = {{ attributeDirectiveNumber2 }}, server status = {{ attributeDirectiveStatus2 }}, getServerStatus = {{ getColorAttributeDirective2() }}</p>
</div>
